@font-face {
    font-family: 'DkCrayon';
    src: url(DkCoolCrayon-xJyV.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #B4C8EA;
}

header{
    display: flex;
    align-items: center;
    width: 100vw;
    height: min-content;
    background-color: #F7CAC9;
    box-shadow: -1px -13px 29px 14px rgba(120,120,120,0.36);
    position: fixed;
}

.headerLogo{
    height:4vh;
    padding: 0.5vw;
    margin-left: 1vw;
}

.titleHeader{
    display: inline;
    font-family: 'DKcrayon';
    font-size: 1em;
    text-transform: capitalize;
    color: #d63a85;

}

#titleBody{
    font-size: 5.5em;
    font-family: Helvetica;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    font-family: 'DkCrayon';
    color: #FF9ACB;
    text-shadow: #2c4b80;
    text-shadow:
    2px 2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    -2px -2px 0 #ffffff,
    2px -2px 0 #ffffff;
}

section{
    background-color: white;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    padding: 5vh;
    margin-top: 10vh;
    border-radius: 40px;
    margin-bottom: 15vh;
    box-shadow: -1px 10px 9px 0px rgba(140,164,209,1);
}

section h1{
    font-family: 'DkCrayon';
    color: #d63a85;
    font-size: 3em;
    display: inline;
}

#logo{
    display: inline;
    height: 10vh;
    padding-right: 2vw;
}

#pfp{
    border-radius: 100%;
    height: 9vh;
    margin-top: 3vh;
    display: inline;
    border: solid 3px #FF9ACB;
    
}

section p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 1vw;
    font-weight: 1000;
    color: #2c4b80;
    font-size: 1.7em;
    
}

#sex, #email, #password, #cn, #support{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffc7e27a;
    color: #2c4b80;    
    border-radius: 40px;
    margin-top: 1vh;
    padding: 0.5vw;
    margin: 0.5vh;
    font-weight: 1000;
}

footer{
    position: fixed;
    background-color: #F7CAC9;
    color: #d63a85;
    height: max-content;
    bottom: 0;
    width: 100%;
    padding: 2vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: -1px -13px 29px 14px rgba(120,120,120,0.36);
}
