@font-face {
    font-family: 'DkCrayon';
    src: url(DkCoolCrayon-xJyV.ttf);
}

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #B4C8EA;
}

header{
    display: flex;
    align-items: center;
    width: 100vw;
    height: min-content;
    background-color: #F7CAC9;
    box-shadow: -1px -13px 29px 14px rgba(120,120,120,0.36);
    position: fixed;
}

.headerLogo{
    height:4vh;
    padding: 0.5vw;
    margin-left: 1vw;
}

.titleHeader{
    display: inline;
    font-family: 'DKcrayon';
    font-size: 1em;
    text-transform: capitalize;
    color: #d63a85;

}

#p1Section{
    display: flex;
    margin-top: 8vh;
    flex-direction: column;
    align-items: center;
    height: max-content;
}

#p1logo{
    display: inline;
    position: absolute;
}

.background{
    width: 20vw;
    display: inline;
    position: absolute;
}

#bgLeft{
    left: 20%;
}

#bgRight{
    right: 20%;
}

#title{
    font-size: 3.5em;
    font-family: Helvetica;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    font-family: 'DkCrayon';
    color: #FF9ACB;
    text-shadow: #2c4b80;
    text-shadow:
    2px 2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    -2px -2px 0 #ffffff,
    2px -2px 0 #ffffff;
    padding: 1vw;
}

#description{
    font-size: 1.3em;
    margin-top: 1.6vh;
    padding-left: 15vw;
    padding-right: 15vw;
    /* color: rgb(75, 46, 33); */
    color: rgb(61, 61, 131);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#signupBtn{
    width: max-content;
    height: max-content;
    margin-top: 4vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F7CAC9;
    border: none;
    color: #4D6794;
    font-size: 1.7em;
    margin-bottom: 1.3vh;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 10px;
    box-shadow: -1px 10px 9px 0px rgba(140,164,209,1);
}

#signupBtn:hover{
    text-decoration: underline;
    background-color: #ffd7d6;
    
}   

#gallery{
    margin-top: 5vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

#gallery img{
    width: 24.75vw;
    margin-bottom: -2vh;
    display: inline;
}

#galleryTitle{
    font-family: 'DkCrayon';
    font-size: 5em;
    position: absolute;
    text-align: center;
    top: 97%;
    margin-top: 6vh;
    color: #FF9ACB;
    text-shadow:
    2px 2px 0 white,
    -2px 2px 0 white,
    -2px -2px 0 white,
    2px -2px 0 white;
    background-color: rgba(207, 214, 255, 0.705);
    width: 100vw;
}

#mask{
    margin-top: -1vh;
    position: absolute;
    z-index: 1;
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(#B4C8EA, #b4c8eaee, #b4c8eab6, #b4c8ea7a, #b4c8ea52, #b4c8ea3a, #b4c8ea1c, #b4c8ea1c, #b4c8ea0e, #b4c8ea00);
}

footer{
    position: fixed;
    background-color: #F7CAC9;
    color: #d63a85;
    height: max-content;
    bottom: 0;
    width: 100%;
    padding: 2vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: -1px -13px 29px 14px rgba(120,120,120,0.36);
}



